<%-include("header")-%>
    <h3>All Instructor List: </h3>
    <table>
        <tr>
            <th>CCNY ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Assigned Classes</th>
            <th>warnings</th>
            <th>Suspended</th>
            <th>Terminated</th>
        </tr>
        
        <%for(var i = 0; i<instructors.length; i++){%>
            <tr>
                <th> <%=instructors[i].CCNYID%> </th>
                <th><%=instructors[i].fullname%></th>
                <th><%=instructors[i].username%></th>
                <th>show later</th>
                <th>show later</th>
                <th><%=instructors[i].suspended%></th>
                <th><%=instructors[i].terminated%></th>   
            </tr>

        <%}%>
        
    </table>

<%-include("footer")-%>
