<%-include("header")-%>
    <br><br>
    <div class="container" style="text-align: center; min-height: 80vh;">
        <h3>All Students List:</h3>
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col" style="width:12.5%">CCNY ID</th>
                <th scope="col" style="width:12.5%">Name</th>
                <th scope="col" style="width:12.5%">Email</th>
                <th scope="col" style="width:12.5%">Academic Record</th>
                <th scope="col" style="width:12.5%">Balance Due</th>
                <th scope="col" style="width:12.5%">Suspended</th>
                <th scope="col" style="width:12.5%">terminated</th>
              </tr>
            </thead>
            <tbody>
                <%for(var i = 0; i<students.length; i++){%>
                    <tr>
                        <td> <%=students[i].CCNYID%> </td>
                        <td><%=students[i].fullname%></td>
                        <td><%=students[i].username%></td>
                        <td>
                            <form action="/allstudents" method="post">
                                <input type="hidden" name="email" value= <%=students[i].username%> >
                                <button class="btn btn-primary" type="submit" name="action" value="record"> Check Record</button>
                            </form>
                        </td>
                        <td><%=students[i].balanceOwe%></td>
                        <td>
                            <form action="/allstudents" method="post">
                                <input type="hidden" name="email" value= <%=students[i].username%> >
                                <%if(students[i].suspended){%>
                                    <p>Yes</p>
                                    <button class="btn btn-primary" type="submit" name="action" value="unsuspend"> Un-suspend</button>
                                <%}else{%>
                                    <p>No</p>
                                    <button class="btn btn-primary" type="submit" name="action" value="suspend"> Suspend</button>
                                <%}%>
                            </form>
                        </td>

                        <td>
                            <form action="/allstudents" method="post">
                                <input type="hidden" name="email" value= <%=students[i].username%> >
                                <%if(students[i].terminated){%>
                                    <p>Yes</p>
                                    <button class="btn btn-primary" type="submit" name="action" value="unterminate"> Un-terminate</button>
                                <%}else{%>
                                    <p>No</p>
                                    <button class="btn btn-primary" type="submit" name="action" value="terminate"> terminate</button>
                                <%}%>
                            </form>
                        </td> 
                    </tr>
                <%}%>
            </tbody>
        </table>
        <br><br><br>
    </div>
    

<%-include("footer")-%>
