<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application</title>
</head>
<body>

    <h1>Hello TeamQ, this is student and instructor applications </h1>
    <a href="/registrarHome">Go back to registrar home</a>
    <br><br>
    <h3>Program quota is  <%= programQuota%>, current total number of students is <%= totalStudents%> </h3>
    
    <h3>Below are new student applications</h3>
    <% for(var i = 0; i<studentApplications.length; i++){ %>
        <div>
            <form action="/application" method="post">
                <input type="hidden" name="fullname" value= <%= studentApplications[i].fullname %> >
                <input type="hidden" name="email" value= <%= studentApplications[i].email %> >
                <input type="hidden" name="GPA" value= <%= studentApplications[i].GPA %>  >
                <input type="hidden" name="role" value= <%= studentApplications[i].role %>  >
                <p> Applicant Name: <%= studentApplications[i].fullname %> --- GPA: <%= studentApplications[i].GPA %> </p>
                
                <textarea id="justification<%=i%>" name="justification" rows="4" cols="30" 
                    placeholder="Please provide justification if your dicision is against student's qualification"
                    oninput="checkJustification(<%=i%>)"></textarea>

                <button type="submit" name="dicision" value="accept" id="acceptBtn<%=i%>" > Accept</button> 
                <button type="submit" name ="dicision" value="reject" id="rejectBtn<%=i%>">Reject</button>
                
                <!-- check if visitor is qualified to be accept to be student and disable the button against rule-->
                <script type="text/javascript">
                    var programQuota = <%= programQuota%>;
                    var totalStudents = <%= totalStudents%>;
                    var GPA = <%= studentApplications[i].GPA %>;
                    if(programQuota > totalStudents && GPA > 3.0){
                        document.getElementById("rejectBtn<%=i%>").disabled = true;
                    }else{
                        document.getElementById("acceptBtn<%=i%>").disabled = true;
                    }
                </script>
            </form>
        </div>
    <%} %>
    
    <br>
    <h3>Below are new instructor applications</h3>
    <% for(var i = 0; i<instructorApplications.length; i++){ %>
        <div>
            <form action="/application" method="post">
                <input type="hidden" name="fullname" value= <%= instructorApplications[i].fullname %> >
                <input type="hidden" name="email" value= <%= instructorApplications[i].email %> >
                <input type="hidden" name="role" value= <%= instructorApplications[i].role %>  >
                <p> Applicant Name: <%= instructorApplications[i].fullname %> --- Self-Statement: <%= instructorApplications[i].selfStatement %> </p>
            
                <button type="submit" name="dicision" value="accept" > Accept</button> 
                <button type="submit" name ="dicision" value="reject" >Reject</button>
            </form>
            
        </div>
    <%} %>
    
     <br>

    

    <script type="text/javascript">
        //admin need to provide reason if he want to make dicision against rule 
        function checkJustification(i){
            var text = document.getElementById("justification"+i).value
            if(text != ''){
                document.getElementById("rejectBtn"+i).disabled = false;
                document.getElementById("acceptBtn"+i).disabled = false;
            }
        }
    </script>
</body>
</html>