<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graduation Applications</title>
</head>
<body>
    <a href="/"> Go Back </a>
    <h3>Graduation Application List: </h3>
    <% for(var i = 0; i<applications.length; i++){ %>
        <div>
            <form action="/graduationApplication" method="post">
                <input type="hidden" name="studentEmail" value ="<%=applications[i].studentEmail%>">
                <input type="hidden" name="applicationID" value ="<%=applications[i]._id%>">
                <p>Student Name: <%= applications[i].studentName%> <br>
                 Graduation Time: <%=applications[i].graduationYear%> <%=applications[i].graduationSemester%></p>  
                <button type="submit" name="graduationApplicationButton" value="record"> Check Record</button>
                <button type="submit" name="graduationApplicationButton" value="approve"> Approve </button>
                <button type="submit" name="graduationApplicationButton" value="deny"> Deny And Send Warning</button>
                <hr>      
            </form>
        </div>
    <%} %>

</body>
</html>