<%-include("header")-%>
    <div class="container" style="min-height:80vh; text-align: center;">
        <br><br><br>
        <div class="row">
            <div class="col">
                <h3><%= studentName %>'s Course Record: </h3>
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col" style="width:20%">Course</th>
                        <th scope="col" style="width:20%">Year</th>
                        <th scope="col" style="width:20%">Semester</th>
                        <th scope="col" style="width:20%">Credit</th>
                        <th scope="col" style="width:20%">Grade</th>
                      </tr>
                    </thead>
                    <tbody>
                        <%for(var i = 0; i< taken_classes.length; i++) { %>
                            <tr>
                                <td><%=taken_classes[i].course_shortname%></td>
                                <td><%=taken_classes[i].year%></td>
                                <td><%=taken_classes[i].semester%></td>
                                <td><%=taken_classes[i].credit%></td>
                                <td><%=taken_classes[i].grade%></td>
                            </tr>
                        <%}%>
                    </tbody>
                </table>
            </div>

        <div class="col">
            <h3>Requirement Courses: </h3>
            <ul class="list-group" style="width:50%; margin:auto">
                <li class="list-group-item"><b><%=required_courses[0]%></b></li>
                <li class="list-group-item"><b><%=required_courses[1]%></b></li>
                <li class="list-group-item"><b><%=required_courses[2]%></b></li>
                <li class="list-group-item"><b><%=required_courses[3]%></b></li>
                <li class="list-group-item"><b><%=required_courses[4]%></b></li>
                <li class="list-group-item"><b><%=required_courses[5]%></b></li>
                <li class="list-group-item"><b><%=required_courses[6]%></b></li>
                <li class="list-group-item"><b><%=required_courses[7]%></b></li>
            </ul>
        </div>
        </div>

    </div>
   

<%-include("footer")-%>
