<%- include("header")-%>
      <div class="container welcome-text">
        <h1 class="welcome-message">Welcome to The City College of New York </h1>
        <h2 class="date"> <%= today.toLocaleDateString() %> </h2>
      </div>

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/ccny_img1.jpg" class="d-block w-100" >
              </div>
              <div class="carousel-item">
                <img src="images/ccny_img2.jpg" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="images/ccny_img3.jpg" class="d-block w-100">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
     

      <!-- introduction of program -->
      <div class="container">
        <div>
          <h1 class="program-introduction-title">Master Program Introduction</h1>
          <p class="program-introduction-detail">
            ​​The City College master’s programs are designed for the student seeking a master’s degree, career advancement and also for personal enrichment. With hundreds of master’s degrees conferred each year, City College with more than sixty different graduate level programs is a great choice for graduate study. <br><br>
  Each candidate for a master’s degree in Computer Science must complete at least 8 courses as approved by the department and the Dean. A Master of Science Degree (M.S.) is awarded to students who do not have a Bachelor’s degree in Engineering. Students who have taken graduate work at other institutions may receive up to six credits (nine with the approval of the Committee on Course and Standing) provided that the material is equivalent to a graduate course taught at the college and that it was completed with a grade of B or better within a five-year period preceding matriculation at The City College. The Computer Science Program is only open to students with a computer science baccalaureate degree or extensive undergraduate course work in the field of study. <br><br>
         You must have a college GPA at least 3.0 to <a href="/applyStudent">apply</a>.
        </p>
        </div>
      </div>

<!-- top student/class worst class -->
        <div class="top-raking-section">
          <div class="container">
            <h1>Top 3 students in CCNY</h1>
            <div class="row ranking-row";">
              <div class="col"></div>
                <%for ( var i = 0; i < topStudents.length; i++){%>
                  <div class="col">
                    <i class="fa fa-graduation-cap" aria-hidden="true" style="font-size: 4em; color:white;"></i><br><br>
                    <p style="font-size: 25px;"> <%= topStudents[i].fullname %>  <br> GPA: <%= topStudents[i].GPA%></p>
                </div>
                <%}%>
              <div class="col"></div>    
            </div>
            <hr class="section-break-line">
        
            <h1>Top 3 classes in CCNY</h1>
            <div class="row ranking-row";">
                <%for ( var i = 0; i < topClasses.length; i++){%>
                  <div class="col">
                    <i class="fa fa-thumbs-up" aria-hidden="true" style="font-size: 4em; color:white;"></i><br><br>
                    <p style="font-size: 25px;"> <%= topClasses[i].course_fullname %> <br> Instructor: <%= topClasses[i].instructor%> <br> rating: <%= topClasses[i].rating%></p>
                </div>
                <%}%>
            </div>

          <hr class="section-break-line">
            <h3>Worst 3 classes in CCNY</h3>
            <div class="row ranking-row";">
              <%for ( var i = 0; i < worstClasses.length; i++){%>
                <div class="col">
                  <i class="fa fa-thumbs-down" aria-hidden="true" style="font-size: 4em; color:white;"></i><br><br>
                  <p style="font-size: 25px;"> <%= worstClasses[i].course_fullname %> <br> Instructor: <%= worstClasses[i].instructor%> <br> rating: <%= worstClasses[i].rating%></p>
              </div>
              <%}%>
          </div>
          </div>
        </div>

        <div class="container" style="text-align: center;">
          <br>
          <h1>Calendar</h1>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col" style="width:50%">Date</th>
                <th scope="col" style="width:50%">Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= classSetUpBegin.toLocaleDateString() %> </td>
                <td>Class set up period begins</td>
              </tr>
              <tr>
                <td><%= classSetUpEnd.toLocaleDateString() %></td>
                <td>Class set up period ends</td>
              </tr>
              <tr>
                <td><%= courseRegistrationBegin.toLocaleDateString() %></td>
                <td>Course registration period begins</td>
              </tr>
              <tr>
                <td><%= courseRegistrationEnd.toLocaleDateString() %></td>
                <td>Course registration period ends</td>
              </tr>
              <tr>
                <td><%= classRunningBegin.toLocaleDateString() %></td>
                <td>Class running period begins <br> Special registration period begins</td>
              </tr>
              <tr>
                <td><%= specialPeriodEnd.toLocaleDateString() %></td>
                <td>Special registration period ends</td>
              </tr>
              <tr>
                <td><%= classRunningEnd.toLocaleDateString() %></td>
                <td>Class running period ends</td>
              </tr>
              <tr>
                <td><%= gradingPeriodBegin.toLocaleDateString() %></td>
                <td>Grading period begins</td>
              </tr>
              <tr>
                <td><%= gradingPeriodEnd.toLocaleDateString() %></td>
                <td>Grading period ends</td>
              </tr>
              </tbody>
              </table>
        </div>
        <br><br>   
        
<!-- Modal -->
<div id="myModal2" class="modal fade">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">You are suspended</h5>
              <button type="button" class="close" data-bs-dismiss="modal" data-target="#myModal2">&times;</button>
          </div>
          <div class="modal-body">
              <p>You are suspended or terminated, please send message to admin@ccny to contact program registrar for more information.</p>
          </div>
      </div>
  </div>
</div>

<script type="text/javascript">
    <%if(user != null){%>
      if (<%=user.suspended%> || <%=user.terminated%> ){
      $(window).on('load', function() {
        $('#myModal2').modal('show');  
    });
    }
    <%}%>

  
</script>
<%- include("footer")-%>