<%- include("header")-%>
    <div class="container" style="text-align: center; min-height: 80vh;"><br><br>
        <h3> Classes List: </h3>
        <% for(var i = 0; i<teachingClasses.length; i++){ %>
            <div>
                <h5><%=teachingClasses[i].course_fullname%> <%=teachingClasses[i].course_shortname%> <%=teachingClasses[i].section%> </h5>
                <%= teachingClasses[i].schedule[0].day%> <%= teachingClasses[i].schedule[0].startTime%> <%= teachingClasses[i].schedule[0].endTime%> 
                        <%= teachingClasses[i].schedule[1].day%> <%= teachingClasses[i].schedule[1].startTime%>-<%= teachingClasses[i].schedule[1].endTime%>
                
                <table class="table">
                    <thead>
                        <tr>
                            <th>Student_Name</th>
                            <th>Student_Email</th>
                            <th>Grade_Received</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var j = 0; j<teachingClasses[i].students.length; j++){ %>
                            <form action="/instructorMyClasses", method="post">
                                <input type="hidden" name="studentName" value= "<%= teachingClasses[i].students[j].fullname %>" >
                                <input type="hidden" name="studentEmail" value= "<%= teachingClasses[i].students[j].email %>" >
                                <input type="hidden" name="classID" value= "<%= teachingClasses[i]._id %>" >
                                <input type="hidden" name="className" value= "<%= teachingClasses[i].course_shortname %>" >
                                <input type="hidden" name="classCredit" value= "<%= teachingClasses[i].credit %>" >
                                <input type="hidden" name="classYear" value= "<%= teachingClasses[i].year %>" >
                                <input type="hidden" name="classSemester" value= "<%= teachingClasses[i].semester %>" >
        
                                <tr>
                                    <td><%= teachingClasses[i].students[j].fullname %></td>
                                    <td><%= teachingClasses[i].students[j].email %></td>
                                    <td><%= teachingClasses[i].students[j].grade %></td>
                                    <td>
                                        <button type="submit" name="action" value="record" class="btn btn-primary"> Check Record </button>
                                        <% if(period == "grading" || period == "afterGrading" ){ %>
                                            <button type="submit" name="action" value="grading" class="btn btn-primary"> Grading </button>
                                        <% } %>
                                        
                                    <td>
                                </tr>
                            </form>
                        <%} %>
                    </tbody>
                </table> 

                <%if (teachingClasses[i].wait_list.length > 0){%>
                    <p>Wait list:</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Student_Name </th>
                                <th>Student_Email</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%for(var j = 0; j<teachingClasses[i].wait_list.length; j++){%>
                                <form action="/instructorMyClasses", method="post">
                                    <input type="hidden" name="studentName" value= "<%= teachingClasses[i].wait_list[j].fullname %>" >
                                    <input type="hidden" name="studentEmail" value= "<%= teachingClasses[i].wait_list[j].email %>" >
                                    <input type="hidden" name="classID" value= "<%= teachingClasses[i]._id %>" >
                                    <input type="hidden" name="className" value= "<%= teachingClasses[i].course_shortname %>" >
                                    <input type="hidden" name="classCredit" value= "<%= teachingClasses[i].credit %>" >
                                    <input type="hidden" name="classYear" value= "<%= teachingClasses[i].year %>" >
                                    <input type="hidden" name="classSemester" value= "<%= teachingClasses[i].semester %>" >
            
                                    <tr>
                                        <td><%= teachingClasses[i].wait_list[j].fullname %></td>
                                        <td><%= teachingClasses[i].wait_list[j].email %></td>
                                        <td>
                                            <button type="submit" name="action" value="record" class="btn btn-primary"> Check Record </button>
                                            <button type="submit" name="action" value="approve" class="btn btn-primary"> Approve </button>
                                            <button type="submit" name="action" value="reject" class="btn btn-primary"> Reject </button>
                                        <td>
                                    </tr>
                                </form>
                            <%}%>
                        </tbody>

                    </table>
                <%}%>
    
            </div>
            <br><br><br>
        <%}%>
    </div>
    

    <%- include("footer")-%>