<%- include("header") -%>
    <div class="container" style="text-align: center; min-height: 80vh;" >
        <br><br>
        
        <%if(instructor.warning.length == 0){%>
            <h3><%=instructor.fullname%> does not have any warning.</h3>
        <%}else{%>
            <h3><%=instructor.fullname%>'s warning list: </h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" style="width:20%">Warning Number</th>
                        <th scope="col" style="width:60%">Warning Detail</th>
                        <%if(user.role == "registrar"){%>
                            <th scope="col" style="width:20%">Action</th>
                        <%}%>
                    </tr>
                </thead>
                <tbody>
                    <%for (var i = 0; i<instructor.warning.length; i++){%>
                        <tr>
                            <td> <%=i+1%></td>
                            <td><%=instructor.warning[i]%></td>
                            <%if(user.role == "registrar"){%>
                            <td>
                                <form action="/instructorWarnings" method="post">
                                    <input type="hidden" name="email" value="<%=instructor.username%>">
                                    <input type="hidden" name="warningIndex" value="<%=[i]%>">
                                    <button class="btn btn-primary"> Remove Warning </button>
                                </form>
                            </td>
                            <%}%>
                        </tr>
                    <%}%>
                </tbody>
            </table>
        <%}%>

    </div>

<%-include("footer")-%>