<%- include("header")-%>

    <div class="container" style="min-height: 80vh; text-align: center;"><br><br><br>
        <form action="/instructorGrading" method="post">
            <input type="hidden" name="studentEmail" value="<%=studentEmail%>">
            <input type="hidden" name="classID" value="<%=classID%>">
            <input type="hidden" name="classCredit" value="<%=classCredit%>">
            <input type="hidden" name="className" value="<%=className%>">

            <h4>Class: <%=className%></h4>
            <h4>Student: <%=studentName%></h4>
            <h4>Grade: </h4>
            <select name="grade" class="form-select" style="width: 20%; margin:0 auto"> 
                <option value="A+"> A+</option>
                <option value="A"> A</option>
                <option value="A-"> A-</option>
                <option value="B+"> B+</option>
                <option value="B"> B</option>
                <option value="B-"> B-</option>
                <option value="C+"> C+</option>
                <option value="C"> C</option>
                <option value="C-"> C-</option>
                <option value="D+"> D+</option>
                <option value="D"> D</option>
                <option value="D-"> D-</option>
                <option value="F"> F</option>
            </select> <br><br>
            <button type="submit" class="btn btn-primary"> Submit </button>
        </form>
    </div>

<%- include("footer")-%>
