<%-include("header")-%>

    <div class="container" style="text-align: center; min-height: 80vh;">
        <br><br>
        <h3>Complaints</h3>
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col" style="width:16.7%">Complaint From</th>
                <th scope="col" style="width:16.7%">Email</th>
                <th scope="col" style="width:16.7%">Complaint About</th>
                <th scope="col" style="width:16.7%">Class</th>
                <th scope="col" style="width:16.7%">Details</th>
                <th scope="col" style="width:16.7%">Actions</th>
              </tr>
            </thead>
            <tbody>
                <% for (var i = 0; i < complaints.length; i++) { %>
                    <% if(!complaints[i].isFromSystem){ %>
                        <tr>
                            <td><%=complaints[i].complaintFromName%> (<%=complaints[i].complaintFromRole%>)</td>
                            <td><%=complaints[i].complaintFrom %></td>
                            <td><%=complaints[i].complaintAbout%> (<%=complaints[i].complaintAboutRole%>)</td>
                            <td><%=complaints[i].className %></td>
                            <td><%=complaints[i].detail%></td>
                            <td>
                                <form action="/message" method="post">
                                    <input type="hidden" name="complaintId" value= <%= complaints[i]._id%>  >
                                    <input type="hidden" name="fullName" value= "<%= complaints[i].complaintAbout %>" >
                                    <input type="hidden" name="className" value= <%= complaints[i].className %>>
                                    <button class="btn btn-primary" type="submit" name="decision" value="issueWarning" style="margin: 3px 0 3px 0;"> Issue Warning </button> 
                                    <button class="btn btn-primary" type="submit" name ="decision" value="acknowledge" style="margin: 3px 0 3px 0;"> acknowledge </button>
                                    <% if (complaints[i].complaintFromRole == 'instructor'){ %>
                                        <button class="btn btn-primary" type="submit" name ="decision" value="deregister" style="margin: 3px 0 3px 0;"> De-register </button>
                                    <%}%>
                                </form>
                            </td>
                        </tr>
                    <%}%>
                <%}%>
            </tbody>
        </table>
        <br><br><br>

        <h3>Abnormal Grade Detected:</h3>
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col" style="width:25%">Class</th>
                <th scope="col" style="width:25%">Instructor</th>
                <th scope="col" style="width:25%">Details</th>
                <th scope="col" style="width:25%">Actions</th>
              </tr>
            </thead>
            <tbody>
                <% for (var i = 0; i < complaints.length; i++) { %>
                    <% if(complaints[i].isFromSystem){ %>
                        <tr>
                            <td><%=complaints[i].className%></td>
                            <td><%=complaints[i].complaintAbout%></td>
                            <td><%=complaints[i].detail%></td>
                            <td>
                                <form action="/message" method="post">
                                    <input type="hidden" name="complaintId" value= <%= complaints[i]._id%>  >
                                    <input type="hidden" name="fullName" value= "<%= complaints[i].complaintAbout %>" >
                                    <input type="hidden" name="className" value= <%= complaints[i].className %>>
                                    <button class="btn btn-primary" type="submit" name="decision" value="issueWarning" style="margin: 3px 0 3px 0;"> Issue Warning </button> 
                                    <button class="btn btn-primary" type="submit" name ="decision" value="acknowledge" style="margin: 3px 0 3px 0;"> acknowledge </button>
                                </form>
                            </td>
                        </tr>
                    <%}%>
                <%}%>
            </tbody>
        </table>
        <br><br><br>
</div>
<%-include("footer")-%>
