<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Academics</title>
</head>
<body>
  
    <% userRole %>
    <h1>This is academics record page</h1>
    <a href="/"> Go Back To Home</a>
    <br>
    <%if (userRole == "instructor"){%>
        <a href="instructorMyClasses"> Go Back To My Class List</a>
    <%}%>
    <% if (userRole == "student") {%>
        <br>
        <a href="/applyGraduation">Apply Graduation</a>
        <br>
    <%}%>

    <h3>Student:<%=studentName%> GPA: <%=GPA%> </h3>
    <h3>Grades detail: </h3>
    <table>
        <tr>
            <th>Course</th>
            <th>Year</th>
            <th>Semester</th>
            <th>Credit</th>
            <th>Grade</th>
        </tr>

        <%for(var i = 0; i< taken_classes.length; i++) { %>
            <tr>
                <th><%=taken_classes[i].course_shortname%></th>
                <th><%=taken_classes[i].year%></th>
                <th><%=taken_classes[i].semester%></th>
                <th><%=taken_classes[i].credit%></th>
                <th><%=taken_classes[i].grade%></th>
            </tr>
        <%} %>

        <%for(var i = 0; i< taking_classes.length; i++) { %>
            <tr>
                <th><%=taking_classes[i].course_shortname%></th>
                <th><%=taking_classes[i].year%></th>
                <th><%=taking_classes[i].semester%></th>
                <th><%=taking_classes[i].credit%></th>
                <th>In Progress</th>
            </tr>
        <%} %>

    </table>
    
</body>
</html>