<%- include("header")-%>

    <div class="container" style="height:80vmax; text-align: center;"  >
    <br>
        <h4 style="text-align: left;">Student:<%=studentName%> <br>
        GPA: <%=GPA%> <br>
        CCNY ID #: <%=studentID%></h4>

        
        <br>
        <h4>Grade Record:</h4>
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Course Name</th>
                <th scope="col">Year</th>
                <th scope="col">Semester</th>
                <th scope="col">Credit</th>
                <th scope="col"> Grade </th>
              </tr>
            </thead>
            <tbody>
                <%for(var i = 0; i< taken_classes.length; i++) { %>
                    <tr>
                        <th><%=taken_classes[i].course_shortname%></th>
                        <th><%=taken_classes[i].year%></th>
                        <th><%=taken_classes[i].semester%></th>
                        <th><%=taken_classes[i].credit%></th>
                        <th><%=taken_classes[i].grade%></th>
                    </tr>
                <%} %>
                
                
                <!-- <%if(userRole == "student"){%> -->
                    <%for(var i = 0; i< taking_classes.length; i++) { %>
                        <tr>
                            <th><%=taking_classes[i].course_shortname%></th>
                            <th><%=taking_classes[i].year%></th>
                            <th><%=taking_classes[i].semester%></th>
                            <th><%=taking_classes[i].credit%></th>
                            <th>In Progress</th>
                        </tr>
                    <%} %>
                <!-- <%}%> -->
        
            </tbody>
        </table>

        <%if(userRole == "student" || userRole == "registrar"){%>
            <%if(honors.length > 0){%>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Honors</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%for(var i = 0; i<honors.length; i++){%>
                            <tr>
                                <th><%=honors[i]%></th>
                            </tr>
                        <%}%>
                    </tbody>
                </table>
            <%}%>

            <%if(warnings.length > 0){%>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Warnings</th>
                            <%if(userRole == "registrar"){%>
                                <th>Action</th>
                            <%}%>
                        </tr>
                    </thead>
                    <tbody>
                        <%for(var i = 0; i<warnings.length; i++){%>
                            <tr>
                                <th><%=warnings[i]%></th>
                                <%if(userRole == "registrar"){%>
                                    <th>
                                        <form action="/studentWarnings" method="post">
                                            <input type="hidden" name="studentID" value="<%=studentID%>" >
                                            <input type="hidden" name="warningIndex" value="<%=i%>">
                                            <button class="btn btn-primary"> Remove Warning </button>
                                        </form>
                                    </th>
                                <%}%>
                            </tr>
                        <%}%>
                    </tbody>
                </table>
            <%}%>
            <% if (userRole == "student" && !user.suspended && !user.terminated &&!user.masterDegreeObtained) {%>
                <br>
                <a href="/applyGraduation" class="btn btn-primary">Apply Graduation</a>
                <br>
            <%}%>
            <% if (userRole == "student" && user.masterDegreeObtained) {%>
                <br>
                <h3>Congraduations! You've earned your Master Degree!</h3>
                <br>
            <%}%>
        <%}%>


        
    
    </div>
     

<%- include("footer")-%>