<%-include("header")-%>
    <br><br><br>
    <div class="container" style="text-align: center; min-height: 80vh;">
        <% classID %>
        <h3>Rate following class: </h3>
        <h4> Class: <%= className %><%= classSection %>,  Instructor: <%= instructor %></h4> 
        
        <form action="/rateClass", method="post">
            <input type="hidden" name="numberOfStar" id="numberOfStar" value=1>
            <input type="hidden" name="classID" value= "<%= classID %>" >
            <input type="hidden" name="className" value= "<%= className %>" >
            <input type="hidden" name="classSection" value= "<%= classSection %>" >
            <input type="hidden" name="instructor" value= "<%= instructor %>" >
            <br>
            <div class="stars" style="text-align: center;">
                <a class="active">⭐️</a>
                <a>⭐️</a>
                <a>⭐️</a>
                <a>⭐️</a>
                <a>⭐️</a>
            </div>
            <br>
            <textarea  name="review" rows="6" cols="50" placeholder="Tell us your experience of this class"></textarea>
            <br>
            <button class="btn btn-primary" type="submit"> submit </button>
        </form>
    </div>


    <script>
        const stars = document.querySelectorAll(".stars a");
        stars.forEach(function(star,clickedIdx){
            star.addEventListener("click",()=>{
                stars.forEach(function(otherStar,otherIdx){
                    if(otherIdx <= clickedIdx){
                        otherStar.classList.add("active");
                    }else{
                        otherStar.classList.remove("active");
                    }
                })
                document.getElementById("numberOfStar").value = clickedIdx + 1;
            })
        })

    </script>

<%-include("footer")-%>