<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCNY Zero Home</title>
</head>
<body>
    <h1>Welcome to CCNY, <%=myname%>,  this is admin home page, today is :<%= today.toLocaleDateString() %></h1>

    <!-- This form can change today's date, this is for testing purpose -->
    <form action="/setToday", method="post">
        <label for="setTodao">Set Today To:</label>
        <input type="date" name="settoday"
        min="2021-01-01" max="2021-12-31">
        <button type="submit"> OK </button>
    </form>
    

    <br><br>
    <a href="/logout"> log out </a>
    <br><br>
    <a href="/adminMessage">Message Box</a>
    
    
    <h3>I am showing Top 3 students in CCNY: </h3>
    <% for(var i = 0; i<topStudents.length; i++){ %>
        <div>
            <p> <%= topStudents[i].fullname %>  --- GPA: <%= topStudents[i].GPA%></p>
        </div>
    <%} %> 

    <h3>I am showing Top 3 classes in CCNY: </h3>
    <% for(var i = 0; i<topClasses.length; i++){ %>
        <div>
            <p> <%= topClasses[i].course_fullname %> --- Instructor:<%= topClasses[i].instructor%> ---rating: <%= topClasses[i].rating%></p>
        </div>
    <%} %> 

    <h3>I am showing worst 3 classes in CCNY: </h3>
    <% for(var i = 0; i<topClasses.length; i++){ %>
        <div>
            <p> <%= worstClasses[i].course_fullname %>  ---Instructor:<%= worstClasses[i].instructor%> ---rating: <%= worstClasses[i].rating%></p>
        </div>
    <%} %> 
    

</body>
</html>