<%-include("header")-%>
    <br><br><br>
    <div class="container" style="text-align: center; min-height: 80vh;">
        <form action="/sendWarning" method="post">
            <input type="hidden" name="complaintId" value= <%= complaintId %>  >
            <input type="hidden" name="fullName" value= "<%= fullName %>" >
            <input type="hidden" name="decision" value= <%= decision %>>
            <input type="hidden" name="className" value= <%= className %>>
            <h4>Please include a message, this message will be sent to <%=fullName%> </h4><br><br>
            <textarea class="form-control" name="reason" rows="4" cols="30" required></textarea><br><br>
            <button class="btn btn-primary"type="submit">  Send </button>
        </form>
    </div>

<%-include("footer")-%>
 