<%- include("header")-%>
<div class="container" style="padding: 50px 0 50px 0; min-height: 80vh; text-align: center;">
    <h2 style="text-align: center;">My Classes Schedule</h2>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Course Number</th>
            <th scope="col">Course Name</th>
            <th scope="col">Instructor</th>
            <th scope="col">Schedule</th>
            <th scope="col">Review</th>
            <th scope="col"> Action </th>
          </tr>
        </thead>
        <tbody>
          <% for(var i = 0; i<enrolledClasses.length; i++){ %>
            <tr>
                <form action="/studentMyClasses" method="post">
                    <tr>
                        <input type="hidden" name="classID" value= <%= enrolledClasses[i].id %> >
                        <input type="hidden" name="classShortName" value= <%= enrolledClasses[i].course_shortname %> >
                        <input type="hidden" name="classSection" value= <%= enrolledClasses[i].section %> >
                        <input type="hidden" name="classCredit" value= <%= enrolledClasses[i].credit %> >
                        <input type="hidden" name="instructor" value= "<%= enrolledClasses[i].instructor %>" >
                        <input type="hidden" name="year" value= <%= enrolledClasses[i].year %> >
                        <input type="hidden" name="semester" value= "<%= enrolledClasses[i].semester %>" >
                        <td><%= enrolledClasses[i].course_shortname%><%= enrolledClasses[i].section%></td>
                        <td><%= enrolledClasses[i].course_fullname%></td>
                        <td><%= enrolledClasses[i].instructor%></td>
                        <td><%= enrolledClasses[i].schedule[0].day%> <%= enrolledClasses[i].schedule[0].startTime%> <%= enrolledClasses[i].schedule[0].endTime%> <br>
                            <%= enrolledClasses[i].schedule[1].day%> <%= enrolledClasses[i].schedule[1].startTime%>-<%= enrolledClasses[i].schedule[1].endTime%>
                        </td>
                        <th>
                            <button type="submit" name="action" value="checkReview" class="btn btn-primary"> Check Review </button>
                        </th>
                        <td>
                        <% if(period != "grading"){ %>
                            <button type="submit " class="btn btn-primary" name="action" value="drop">Drop</button>
                        <%} %>
                        <% if(period == "classRunning" || period == "grading"){ %>
                            <button type="submit" name="action" value="rate" class="btn btn-primary"> Rate </button>
                        <% } %></td>
                    </tr>
                </form>
            </tr>
        <%} %>
        </tbody>
      </table> 
</div>

<%- include("footer")-%>
