<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCNY Zero Home</title>
</head>
<body>
    <h1>Welcome to CCNY, this is CCNYZero home page</h1>
    <a href="/login"> log in </a>
    <br><br>
    <a href="/applyInstructor">Click here to apply to be instructor</a>
    <br><br>
    <a href="/applyStudent">Click here to apply to be student</a>
    <br><br>
    <h3>I am showing Top 3 students in CCNY: </h3>
    <% for(var i = 0; i<topStudents.length; i++){ %>
        <div>
            <p> <%= topStudents[i].fullname %>  --- GPA: <%= topStudents[i].GPA%></p>
        </div>
    <%} %> 

    <h3>I am showing Top 3 classes in CCNY: </h3>
    <% for(var i = 0; i<topClasses.length; i++){ %>
        <div>
            <p> <%= topClasses[i].course_fullname %> --- Instructor:<%= topClasses[i].instructor%> ---rating: <%= topClasses[i].rating%></p>
        </div>
    <%} %> 

    <h3>I am showing worst 3 classes in CCNY: </h3>
    <% for(var i = 0; i<topClasses.length; i++){ %>
        <div>
            <p> <%= worstClasses[i].course_fullname %>  ---Instructor:<%= worstClasses[i].instructor%> ---rating: <%= worstClasses[i].rating%></p>
        </div>
    <%} %> 
    

</body>
</html>